<div class="container mt-5 p-5">
<h1 class="text-center">List details</h1>
<div class="row justify-content-between">
  <div class="card col-4 my-5 mx-2">
    <div class="card-body">
      <h4 class="card-title text-center"><%= @list.name %></h5>
      <div class="d-flex justify-content-center">
      <%# <%= link_to "Add to list", new_list_bookmark_path(@list), class: "btn btn-primary mx-1" %>
      <%= link_to "Watch list", lists_path, class: "btn btn-secondary mx-1" %>
      </div>
    </div>
  </div>
  </div>
    <div class="card col-8 flex-grow-1 my-5 mx-2" style="width: 18rem;">
    <ul class="list-group list-group-flush">
    <% @movies.each do |movie| %>
      <li class="list-group-item d-flex justify-content-end"><span class="flex-grow-1"><em>"<%= movie.title %>"</em>
      <% end %>
      </ul>
    </div>

  </div>
</div>
